
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Tablo kategori örneği</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
</table>